<div class="container">
    <div class="s_content">
        <h1 class="s_ribbon">Commitee</h1>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Anti Discrimination Cell
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table class="table table-sm table-bordered">
                                    <tr class="c9">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c2">SR. NO.</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c2">NAME</span></p>
                                        </td>
                                        <td class="c8" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c2">DESIGNATION</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c9">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c4">1</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c6"><span class="c4">PROF. (DR). A. S. BHANWASE</span></p>
                                        </td>
                                        <td class="c8" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c4">PROFESSOR AND I/C PRINCIPAL</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c5">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c4">2</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c6"><span class="c4">DR. M.M. GADE</span></p>
                                        </td>
                                        <td class="c8" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c4"> PROFESSOR</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c9">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c4">3</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c6"><span class="c4">MRS. N.S. KAJALE</span></p>
                                        </td>
                                        <td class="c8" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c4">ASSOCIATE PROFESSOR</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c9">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c4">4</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c6"><span class="c4">MISS. S.V. SAWANT</span></p>
                                        </td>
                                        <td class="c8" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c4">ASSISTANT PROFESSOR</span></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    Examination Grievance Committee
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table class="table table-small table-bordered">
                                    <tr class="c6">
                                        <td class="c8" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c10">SR.NO.</span></p>
                                        </td>
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c10">NAME</span></p>
                                        </td>
                                        <td class="c15" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c10">DESIGNATION</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c6">
                                        <td class="c8" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c11">1</span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c11">PROF. (DR.) BHANWASE A. S ( I/C
                                                    PRINCIPAL)</span></p>
                                        </td>
                                        <td class="c5" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c11">CHAIRMAN</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c17">
                                        <td class="c8" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c11">2</span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c11">DR. GADE M. M. ( PROFESSOR)</span>
                                            </p>
                                        </td>
                                        <td class="c5" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c11">EXAM COORDINATOR</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c6">
                                        <td class="c8" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c11">3</span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c11">MISS SAWANT S.V. (ASSISTANT
                                                    &nbsp;PROFESSOR)</span></p>
                                        </td>
                                        <td class="c5" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c11">EXAM IN CHARGE</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c6">
                                        <td class="c8" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c11">4</span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c11">MR. MITKAL M.D. (ASSISTANT
                                                    &nbsp;PROFESSOR)</span></p>
                                        </td>
                                        <td class="c5" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c11">MEMBER</span></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    College Development Committee
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table class="table table-sm table-bordered">
                                    <tr class="c14">
                                        <td class="c1" colspan="1" rowspan="1">
                                            <p class="c7" id="h.gjdgxs"><span class="c11">SR. NO.</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c11">NAME OF MEMBER</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c11">DESIGNATION</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c2">
                                        <td class="c1" colspan="1" rowspan="1">
                                            <p class="c7"><span class="c0">1</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c5">MR. &nbsp;DOSHI VINODKUMAR MANIKLAL </span>
                                            </p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c0">CHAIRMAN</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c12">
                                        <td class="c1" colspan="1" rowspan="1">
                                            <p class="c7"><span class="c0">2</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c5">MR. &nbsp;LAVHALE RAJABHAU DASHARATH </span>
                                            </p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c0">MEMBER</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c12">
                                        <td class="c1" colspan="1" rowspan="1">
                                            <p class="c7"><span class="c0">3</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c5">MR. RANAWARE ABHIJIT VIJAYSINH </span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c5">SECRETARY OF SOCIETY</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c2">
                                        <td class="c1" colspan="1" rowspan="1">
                                            <p class="c7"><span class="c0">4</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c0">DR. KORATKAR DADASAHEB &nbsp;PANDHARINATH
                                                    &nbsp;</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c0">MEMBER</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c2">
                                        <td class="c1" colspan="1" rowspan="1">
                                            <p class="c7"><span class="c0">5</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c5">MR. PHULE NARAYAN RAMCHANDRA </span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c0">MEMBER</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c2">
                                        <td class="c1" colspan="1" rowspan="1">
                                            <p class="c7"><span class="c0">6</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c0">DR. GADE MUKUND MARUTI </span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c0">TEACHER&rsquo;S REPRESENTATIVE</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c2">
                                        <td class="c1" colspan="1" rowspan="1">
                                            <p class="c7"><span class="c0">7</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c5">MRS. SHINDE PRASHALI GORAKH </span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c0">TEACHER&rsquo;S REPRESENTATIVE</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c2">
                                        <td class="c1" colspan="1" rowspan="1">
                                            <p class="c7"><span class="c0">8</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c5">MRS. SHINDE POOJA NILKANTH</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c0">TEACHER&rsquo;S REPRESENTATIVE</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c2">
                                        <td class="c1" colspan="1" rowspan="1">
                                            <p class="c7"><span class="c0">9</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c5">MR. ANKALGI BAPURAO SHRIMANT</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c0">TEACHER&rsquo;S REPRESENTATIVE</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c2">
                                        <td class="c1" colspan="1" rowspan="1">
                                            <p class="c7"><span class="c0">10</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c5">MR. KOLI DATTATRAY TUKARAM </span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c0">NON TEACHING REPRESENTATIVE</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c2">
                                        <td class="c1" colspan="1" rowspan="1">
                                            <p class="c7"><span class="c0">11</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c5">PRESIDENT, COLLEGE STUDENT COUNCIL</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c0">MEMBER</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c2">
                                        <td class="c1" colspan="1" rowspan="1">
                                            <p class="c7"><span class="c0">12</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c5">SECRETARY, COLLEGE STUDENT COUNCIL</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c0">MEMBER</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c2">
                                        <td class="c1" colspan="1" rowspan="1">
                                            <p class="c7"><span class="c0">13</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c9"><span class="c5">PROF. (DR.) ANIL SUBHASH BHANWASE</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c0">MEMBER SECRETARY</span></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapse4" aria-expanded="true" aria-controls="collapseOne">
                                    College Examination Committee
                                </button>
                            </h2>
                        </div>

                        <div id="collapse4" class="collapse " aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table  class="table table-sm table-bordered">
                                    <tr class="c9">
                                        <td class="c15" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c11">SR.NO.</span></p>
                                        </td>
                                        <td class="c12" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c11">NAME</span></p>
                                        </td>
                                        <td class="c18" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c11">DESIGNATION</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c9">
                                        <td class="c15" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c4">1</span></p>
                                        </td>
                                        <td class="c13" colspan="1" rowspan="1">
                                            <p class="c1"><span class="c2">PROF. (DR.) BHANWASE A. S ( I/C
                                                    PRINCIPAL)</span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c6"><span class="c2">CHAIRMAN</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c7">
                                        <td class="c15" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c4">2</span></p>
                                        </td>
                                        <td class="c13" colspan="1" rowspan="1">
                                            <p class="c1"><span class="c2">DR. GADE M. M. (  PROFESSOR)</span>
                                            </p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c6"><span class="c2">EXAM COORDINATOR</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c9">
                                        <td class="c15" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c4">3</span></p>
                                        </td>
                                        <td class="c13" colspan="1" rowspan="1">
                                            <p class="c1"><span class="c2">MISS. SAWANT S.V. (ASSISTANT
                                                    &nbsp;PROFESSOR)</span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c6"><span class="c2">EXAM IN CHARGE</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c9">
                                        <td class="c15" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c4">4</span></p>
                                        </td>
                                        <td class="c13" colspan="1" rowspan="1">
                                            <p class="c1"><span class="c2">MR. MITKAL M. D. (ASSISTANT
                                                    &nbsp;PROFESSOR)</span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c6"><span class="c2">MEMBER</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c9">
                                        <td class="c15" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c4">5</span></p>
                                        </td>
                                        <td class="c13" colspan="1" rowspan="1">
                                            <p class="c1"><span class="c2">MRS. SALUNKHE G.B. (LAB ASSISTANT)</span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c6"><span class="c2">MEMBER</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c9">
                                        <td class="c15" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c4">6</span></p>
                                        </td>
                                        <td class="c13" colspan="1" rowspan="1">
                                            <p class="c1"><span class="c2">MR. DURAPE S.B (LAB ASSISTANT)</span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c6"><span class="c2">MEMBER</span></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                                    Antiragging Committee
                                </button>
                            </h2>
                        </div>

                        <div id="collapse5" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table  class="table table-sm table-bordered">
                                    <tr class="c3">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c11">SR.NO.</span></p>
                                        </td>
                                        <td class="c2" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c11">NAME </span></p>
                                        </td>
                                        <td class="c4" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c11">PROFESSION</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c3">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c5">1</span></p>
                                        </td>
                                        <td class="c2" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">PROF.(DR.) A. S. BHANWASE</span></p>
                                        </td>
                                        <td class="c4" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">ACADEMICS </span></p>
                                        </td>
                                    </tr>
                                    <tr class="c3">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c5">2</span></p>
                                        </td>
                                        <td class="c2" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">MISS H. V. SHAIKH</span></p>
                                        </td>
                                        <td class="c4" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">LAWYER</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c3">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c5">3</span></p>
                                        </td>
                                        <td class="c2" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">MR. S. S. LOHKARE</span></p>
                                        </td>
                                        <td class="c4" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">MEDIA </span></p>
                                        </td>
                                    </tr>
                                    <tr class="c3">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c5">4</span></p>
                                        </td>
                                        <td class="c2" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">MISS P. G. SHINDE</span></p>
                                        </td>
                                        <td class="c4" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">ACADEMICS</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c3">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c5">5</span></p>
                                        </td>
                                        <td class="c2" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">MR. D. B. KAMBALE</span></p>
                                        </td>
                                        <td class="c4" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">TEACHER</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c3">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c5">6</span></p>
                                        </td>
                                        <td class="c2" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">MRS A. L. EKATPURE</span></p>
                                        </td>
                                        <td class="c4" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">HOUSEWIFE</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c3">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c5">7</span></p>
                                        </td>
                                        <td class="c2" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">MRS. M. S. KOLEKAR</span></p>
                                        </td>
                                        <td class="c4" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">HOUSEWIFE</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c3">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c5">8</span></p>
                                        </td>
                                        <td class="c2" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">MR. V. G. NARSALE</span></p>
                                        </td>
                                        <td class="c4" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">FARMER </span></p>
                                        </td>
                                    </tr>
                                    <tr class="c3">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c5">9</span></p>
                                        </td>
                                        <td class="c2" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">MISS M. M. UNHALE</span></p>
                                        </td>
                                        <td class="c4" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">STUDENT</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c3">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c5">10</span></p>
                                        </td>
                                        <td class="c2" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">MR. C. R. RAJMANE </span></p>
                                        </td>
                                        <td class="c4" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">STUDENT</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c3">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c5">11</span></p>
                                        </td>
                                        <td class="c2" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">MISS P.P. MANE-DESHMUKH</span></p>
                                        </td>
                                        <td class="c4" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">STUDENT</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c3">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c5">12</span></p>
                                        </td>
                                        <td class="c2" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">MR. P. P. BAGALE </span></p>
                                        </td>
                                        <td class="c4" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">STUDENT</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c3">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c5">13</span></p>
                                        </td>
                                        <td class="c2" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">MR. D. T. KOLI</span></p>
                                        </td>
                                        <td class="c4" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">LAB TECHNICIAN</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c3">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c5">14</span></p>
                                        </td>
                                        <td class="c2" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">POLICE INSPECTOR</span></p>
                                        </td>
                                        <td class="c4" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c1">POLICE</span></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapse6" aria-expanded="true" aria-controls="collapseOne">
                                    Gender Sensitisation Cell
                                </button>
                            </h2>
                        </div>

                        <div id="collapse6" class="collapse " aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table  class="table table-sm table-bordered">
                                    <tr class="c5">
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c8">SR.NO.</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c8">NAME</span></p>
                                        </td>
                                        <td class="c14" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c8">DESIGNATION</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c5">
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c1">1</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c13"><span class="c4">PROF. (DR). A. S. BHANWASE</span></p>
                                        </td>
                                        <td class="c14" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c4">PROFESSOR AND I/C PRINCIPAL</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c7">
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c1">2</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c13"><span class="c4">DR. M. M. GADE</span></p>
                                        </td>
                                        <td class="c14" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c4"> PROFESSOR</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c5">
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c1">3</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c13"><span class="c4">MRS. N.S. KAJALE</span></p>
                                        </td>
                                        <td class="c14" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c4">ASSOCIATE PROFESSOR</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c5">
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c1">4</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c13"><span class="c4">MISS. P.N. SHINDE</span></p>
                                        </td>
                                        <td class="c14" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c4">ASSISTANT PROFESSOR</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c5">
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c0"><span class="c1">5</span></p>
                                        </td>
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c13"><span class="c4">MISS. S.V. SAWANT</span></p>
                                        </td>
                                        <td class="c14" colspan="1" rowspan="1">
                                            <p class="c10"><span class="c4">ASSISTANT PROFESSOR</span></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                                    Placement and Career Guidance Cell
                                </button>
                            </h2>
                        </div>

                        <div id="collapse7" class="collapse " aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table  class="table table-sm table-bordered">
                                    <tr class="c0">
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c1"><span class="c5">SR.NO.</span></p>
                                        </td>
                                        <td class="c11" colspan="1" rowspan="1">
                                            <p class="c1"><span class="c5">NAME</span></p>
                                        </td>
                                        <td class="c8" colspan="1" rowspan="1">
                                            <p class="c1"><span class="c5">DESIGNATION</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c0">
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c4">1</span></p>
                                        </td>
                                        <td class="c11" colspan="1" rowspan="1">
                                            <p class="c6"><span class="c4">PROF. (DR). A. S. BHANWASE</span></p>
                                        </td>
                                        <td class="c8" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c4">PROFESSOR AND I/C PRINCIPAL</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c7">
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c4">2</span></p>
                                        </td>
                                        <td class="c11" colspan="1" rowspan="1">
                                            <p class="c6"><span class="c4">DR. M. M. GADE</span></p>
                                        </td>
                                        <td class="c8" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c4"> PROFESSOR</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c0">
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c4">3</span></p>
                                        </td>
                                        <td class="c11" colspan="1" rowspan="1">
                                            <p class="c6"><span class="c4">MISS. P.G. SHINDE</span></p>
                                        </td>
                                        <td class="c8" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c4">ASSOCIATE PROFESSOR</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c0">
                                        <td class="c3" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c4">4</span></p>
                                        </td>
                                        <td class="c11" colspan="1" rowspan="1">
                                            <p class="c6"><span class="c4">MISS A. U. PHUTANE</span></p>
                                        </td>
                                        <td class="c8" colspan="1" rowspan="1">
                                            <p class="c2"><span class="c4">ASSISTANT PROFESSOR</span></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapse8" aria-expanded="true" aria-controls="collapse7">
                                    Women's Grievance Redressal Committee
                                </button>
                            </h2>
                        </div>

                        <div id="collapse8" class="collapse " aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table  class="table table-sm table-bordered">
                                    <tr class="c1">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c15">SR.NO.</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c15">NAME</span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c15">DESIGNATION</span></p>
                                        </td>
                                        <td class="c9" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c15">ROLE</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c1">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c2">1</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">MRS. P. G. SHINDE &nbsp;</span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">ASSOCIATE PROFESSOR</span></p>
                                        </td>
                                        <td class="c9" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c5">CHAIRMAN</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c17">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c2">2</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">MRS. R. V. PAWAR</span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">ASSOCIATE PROFESSOR</span></p>
                                        </td>
                                        <td class="c9" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c5">MEMBER SECRETARY</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c1">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c2">3</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">MISS P. N. &nbsp;SHINDE </span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">ASSISTANT PROFESSOR</span></p>
                                        </td>
                                        <td class="c9" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c5">MEMBER</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c1">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c2">4</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">MRS. SAVITA VORA </span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">SOCIAL WORKER </span></p>
                                        </td>
                                        <td class="c9" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c5">MEMBER</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c1">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c2">5</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">ADV. H. V. SHAIKH</span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">LAWYER </span></p>
                                        </td>
                                        <td class="c9" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c5">MEMBER</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c1">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c2">6</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">DR. A. T. KADAM </span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">MEDICAL OFFICER</span></p>
                                        </td>
                                        <td class="c9" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c5">MEMBER</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c1">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c2">7</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">MRS. N. S. KAJALE </span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">ASSOCIATE PROFESSOR</span></p>
                                        </td>
                                        <td class="c9" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c5">MEMBER</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c1">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c2">8</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">MRS. S. V. SAWANT </span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">ASSISTANT PROFESSOR</span></p>
                                        </td>
                                        <td class="c9" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c5">MEMBER</span></p>
                                        </td>
                                    </tr>
                                    <tr class="c1">
                                        <td class="c7" colspan="1" rowspan="1">
                                            <p class="c4"><span class="c2">9</span></p>
                                        </td>
                                        <td class="c6" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">MRS. G. B. SALUNKHE </span></p>
                                        </td>
                                        <td class="c0" colspan="1" rowspan="1">
                                            <p class="c8"><span class="c5">LAB TECHNICIAN </span></p>
                                        </td>
                                        <td class="c9" colspan="1" rowspan="1">
                                            <p class="c3"><span class="c5">MEMBER</span></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>