<div class="container">
  <div class="s_content">
    <h1 class="s_ribbon">Institutional Information For Quality Assessment</h1>
    <hr>


    <div class="row">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-home-tab" data-toggle="pill" data-target="#v-pills-home"
            type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Certification By HOI</button>
          <button class="nav-link" id="v-pills-profile-tab" data-toggle="pill" data-target="#v-pills-profile"
            type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">IIQA</button>

        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <app-pdf-embed [url]="'./assets/documentation/naac/iiqa/Certification By HOI.pdf#toolbar=0&navpanes=0'"
              [width]="90"></app-pdf-embed>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <app-pdf-embed [url]="'./assets/documentation/naac/iiqa/IIQA.pdf#toolbar=0&navpanes=0'"
              [width]="90"></app-pdf-embed>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>