<div class="row" style="height: 75vh;overflow-y: scroll;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">No</th>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of historyList; index as i;">
        <th scope="row">{{i+1}}</th>
        <td>{{item.grNo}}</td>
        <td>{{item.gr_title}}</td>
        <td>{{item.gr_status}}</td>
        <td>
          <button class="btn btn-sm btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="viewDetailsofGrievance(i)">View Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>




<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-content" *ngIf="activeGrievance">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{activeGrievance.gr_title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Details:</h5>
          <p>
            {{activeGrievance.gr_details}}
          </p>
          <h5>Comments:</h5>
          <p>
            {{activeGrievance.gr_comments}}
          </p>
          <small class="text-muted">Created on: {{activeGrievance.gr_create_date | date:'dd/MMM/yyyy'}}</small>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
