<div class="container">
    <div class="s_content">
        <h1 class="s_ribbon">IQAC Composition</h1>
        <hr>
      
<table class="table table-bordered  table-small">
    <tr class="c12">
        <td class="c7" colspan="1" rowspan="1">
            <p class="c6"><span class="c10">Sr.</span></p>
            <p class="c6"><span class="c10">No.</span></p>
        </td>
        <td class="c8" colspan="1" rowspan="1">
            <p class="c6"><span class="c10">Designation</span></p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
            <p class="c6"><span class="c10">Person/s</span></p>
        </td>
    </tr>
    <tr class="c9">
        <td class="c7" colspan="1" rowspan="1">
            <p class="c6"><span class="c1">1</span></p>
        </td>
        <td class="c8" colspan="1" rowspan="1">
            <p class="c4"><span class="c1">Chairperson (Head of the institution)</span></p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
            <p class="c4"><span class="c1">Dr. Bhanwase A. S.</span></p>
        </td>
    </tr>
    <tr class="c9">
        <td class="c7" colspan="1" rowspan="1">
            <p class="c6"><span class="c1">2</span></p>
        </td>
        <td class="c8" colspan="1" rowspan="1">
            <p class="c4"><span class="c1">Senior Administrative Officer</span></p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
            <p class="c4"><span class="c1">Mr. Galande R.S.</span></p>
        </td>
    </tr>
    <tr class="c16">
        <td class="c7" colspan="1" rowspan="1">
            <p class="c6"><span class="c1">3</span></p>
        </td>
        <td class="c8" colspan="1" rowspan="1">
            <p class="c4"><span class="c1">Teachers</span></p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
            <p class="c4"><span class="c1">Mrs. Shinde P.G.</span></p>
            <p class="c4"><span class="c1">Mrs. Sawant S. V.</span></p>
            <p class="c4"><span class="c1">Mrs. Kashid S. U.</span></p>
            <p class="c4"><span class="c1">Mr. Ankalgi B. S.</span></p>
        </td>
    </tr>
    <tr class="c9">
        <td class="c7" colspan="1" rowspan="1">
            <p class="c6"><span class="c1">4</span></p>
        </td>
        <td class="c8" colspan="1" rowspan="1">
            <p class="c4"><span class="c1">Member from Management</span></p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
            <p class="c4"><span class="c1">Mr. Doshi V. M. </span></p>
        </td>
    </tr>
    <tr class="c21">
        <td class="c7" colspan="1" rowspan="1">
            <p class="c6"><span class="c1">5</span></p>
        </td>
        <td class="c8" colspan="1" rowspan="1">
            <p class="c4"><span class="c1">One nominee each from local society, Students and Alumni</span></p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
            <p class="c4"><span class="c1">Dr. Gandhi A. S.</span></p>
            <p class="c4"><span class="c1">Miss. Gulave S. S.</span></p>
            <p class="c4"><span class="c1">Mr. Lokhande K. B.</span></p>
        </td>
    </tr>
    <tr class="c12">
        <td class="c7" colspan="1" rowspan="1">
            <p class="c6"><span class="c1">6</span></p>
        </td>
        <td class="c8" colspan="1" rowspan="1">
            <p class="c4"><span class="c1">One nominee each from Employers/Industrialists/Stakeholders</span></p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
            <p class="c4"><span class="c1">Mr. Ekatpure A. S.</span></p>
            <p class="c4"><span class="c1">Mr. Bhuma P.S.</span></p>
            <p class="c4"><span class="c1">Mr. Devadkar N. B.</span></p>
        </td>
    </tr>
    <tr class="c15">
        <td class="c7" colspan="1" rowspan="1">
            <p class="c6"><span class="c1">7</span></p>
        </td>
        <td class="c8" colspan="1" rowspan="1">
            <p class="c4"><span class="c1">Co-ordinator IQAC</span></p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
            <p class="c4"><span class="c1">Dr. Gade M. M.</span></p>
        </td>
    </tr>
</table>
      </div>
</div>


