<div class="container">
  <div class="s_content">
    <h1 class="s_ribbon">AQAR - Annual Quality Assurance Report
    </h1>
    <hr>
    <strong>Criterion 1</strong>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let iqar1 of aqar_cr1; let i=index">
        <a [href]="iqar1.link" target="_blank">{{iqar1.title}}</a>
        <app-pdf-viewer [title]="iqar1.title" [url]="iqar1.link" [id]="'iqar1'+i"></app-pdf-viewer>
      </li>
    </ul>
    <strong>Criterion 2</strong>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let iqar2 of aqar_cr2; let i=index">
        <a [href]="iqar2.link" target="_blank">{{iqar2.title}}</a>
        <app-pdf-viewer [title]="iqar2.title" [url]="iqar2.link" [id]="'iqar2'+i"></app-pdf-viewer>
      </li>
    </ul>
    <strong>Criterion 3</strong>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let iqar of aqar_cr3; let i=index">
        <a [href]="iqar.link" target="_blank">{{iqar.title}}</a>
        <app-pdf-viewer [title]="iqar.title" [url]="iqar.link" [id]="'iqar'+i"></app-pdf-viewer>
      </li>
    </ul>
    <strong>Criterion 4</strong>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let iqar4 of aqar_cr4; let i=index">
        <a [href]="iqar4.link" target="_blank">{{iqar4.title}}</a>
        <app-pdf-viewer [title]="iqar4.title" [url]="iqar4.link" [id]="'iqar4'+i"></app-pdf-viewer>
      </li>
    </ul>
    <strong>Criterion 5</strong>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let iqar5 of aqar_cr5; let i=index">
        <a [href]="iqar5.link" target="_blank">{{iqar5.title}}</a>
        <app-pdf-viewer [title]="iqar5.title" [url]="iqar5.link" [id]="'iqar5'+i"></app-pdf-viewer>
      </li>
    </ul>
    <strong>Criterion 6</strong>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let iqar6 of aqar_cr6; let i=index">
        <a [href]="iqar6.link" target="_blank">{{iqar6.title}}</a>
        <app-pdf-viewer [title]="iqar6.title" [url]="iqar6.link" [id]="'iqar6'+i"></app-pdf-viewer>
      </li>
    </ul>
    <strong>Criterion 7</strong>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let iqar7 of aqar_cr7; let i=index">
        <a [href]="iqar7.link" target="_blank">{{iqar7.title}}</a>
        <app-pdf-viewer [title]="iqar7.title" [url]="iqar7.link" [id]="'iqar7'+i"></app-pdf-viewer>
      </li>
    </ul>
  </div>
</div>