<div class="container">
   <div class="s_content">
     <h1 class="s_ribbon">Students </h1>
     <hr>
     <div class="row" style="border: none;">
</div>
<div class="container">
   <div class="s_content">
       <h1 class="s_ribbon">Admission</h1>
       <hr></div>
</div>
<div class="container">
   <div class="s_content">
       <h1 class="s_ribbon">Academics</h1>
       <hr></div>
</div>
<div class="container">
   <div class="s_content">
       <h1 class="s_ribbon">Curriculum</h1>
       <hr></div>
</div>
<div class="container">
   <div class="s_content">
       <h1 class="s_ribbon">Alumni</h1>
       <hr></div>
</div>
<div class="container">
   <div class="s_content">
       <h1 class="s_ribbon">Placement</h1>
       <hr></div>
</div>
<div class="container">
   <div class="s_content">
       <h1 class="s_ribbon">Library</h1>
       <hr></div>
</div>
<div class="container">

   <div class="s_content">
     <h1 class="s_ribbon">About Us</h1>
     <hr>
     <div class="row" style="border: none;">