<div class="container">
    <h1 class="mat-h1">Student Corner</h1>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        First Year
      </ng-template>
     <!--  <app-student-details></app-student-details> -->
     Coming soon...
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Second Year
      </ng-template>
      Content 2
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label style="width: 25%;">
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Third Year
      </ng-template>

      Content 3
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Final Year
      </ng-template>

        Final Year Containt
    </mat-tab>
  </mat-tab-group>
</div>