<div class="container">
  <div class="s_content">
    <h1 class="s_ribbon">Alumni</h1>
    <hr>

    <div class="row">
      <div>
        <ul>
          <li><a type="button" class="btn btn-link" href="./assets/documentation/student/alumni/Registered-alumni.pdf" target="_blank">Registered Alumni</a></li>
          <li><a type="button" class="btn btn-link" href="./assets/documentation/student/alumni/Governing Body.pdf" target="_blank">Governing Body</a></li>
          <li><a type="button" class="btn btn-link" href="./assets/documentation/student/alumni/Alumni Reg. Certificates.pdf" target="_blank">Alumni Registration Certificate</a></li>
        </ul>
        
        
        
      </div>
    </div>
    <div class="row">

      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            Alumni Registration
          </div>

          <div class="card-body">
            <p class="card-text">Please click on the following link to proceed for Registration</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfR04Vx1RDELymjTHsBf6almZXBvIPz7eqRyxI3XorAs-fbkQ/viewform"
              target="_blank" class="btn btn-primary">Register</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Notifications
          </div>
          <div class="card-body">
            <p>No new notifications found.</p>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>