<div class="container">
    <div class="s_content">
        <h1 class="s_ribbon">Data  Validation and Verification</h1>
        <hr>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let mom of dvv; let i=index">
            <a [href]="mom.link" target="_blank">{{mom.title}}</a>
            <app-pdf-viewer [title]="mom.title" [url]="mom.link" [id]="'mom'+i"></app-pdf-viewer>
          </li>
        </ul>
      </div>
</div>

