<div class="container">
    <div class="s_content">
        <h1 class="s_ribbon">Library</h1>
        <hr>
      
        <a href="./assets/documentation/student/library/library.pdf" target="_blank"> Library Details</a>
      </div>
</div>

