<div class="container">
    <app-header-flag [firstMessage]="About" [secondMessage]="Us"> </app-header-flag>
  <div class="row" style="border: none;">

    <div class="panel col-lg-4  text-center center-block" style="background:none;">
      <img alt="Founder" src="./assets/img/college/Maharshi.jpg" class="img-responsive" style="max-height:134px;margin: 0 auto;border-radius: 0px 10px;border: 2px solid;box-shadow: 0px 0px 10px;">
      <p>
        <strong class="text-info">Late Shri. Shankarrao Mohite-Patil</strong>
        <br>
        <small>Founder,</small>
        <br>
        <small>Shikshan Prasarak Mandal, Akluj.</small>
      </p>
    </div>

    <div class="panel col-lg-4 text-center center-block" style="background:none;">
      <img alt="Founder" src="./assets/img/college/logo.png" class="img-responsive" style="max-height:134px;margin: 0 auto;border-radius: 0px 10px;border: 2px solid;box-shadow: 0px 0px 10px;">
      <p>
        <br>
        <strong class="text-info">Shikshan Prasarak Mandal, Akluj</strong>
        <br>

      </p>
    </div>

    <div class="panel col-lg-4  text-center" style="background:none;">
      <img alt="Founder" src="./assets/img/college/president.png" class="img-responsive" style="max-height:134px;margin: 0 auto;border-radius: 0px 10px;border: 2px solid;box-shadow: 0px 0px 10px;">
      <p>
        <strong class="text-info">Hon. Shri Jaysinh Mohite-Patil</strong>
        <br>
        <small>President,</small>
        <br>
        <small>Shikshan Prasarak Mandal, Akluj.</small>
      </p>
    </div>
    <br>
    <div class="col-lg-12 text-justify ">
      <p>
        Late Sahakar Maharshi Shankarrao Mohite-Patil founder member established Shikshan Prasarak MandaL Akluj in 1948 with the
        view changing the standards of society in all respects through education. Shikshan Prasarak MandaL Akluj was started
        College of Pharmacy in 2008. Now this institute is one of the leading pharmacy educationalinstitute in Maharashtra.
      </p>

      <p>Shikshan Prasarak Mandal (SPM) is one of the leading educational institutions in Maharashtra. It was founded by a dedicated
        and committed Late Shankarrao Mohite-Patil in 1948. The institution has evolved and made a mark in the arena of education
        allover Maharashtra due to the ceaseless efforts of the teaching and administrative staff and the foresight of the
        management.
      </p>
      <p>
        SPM runs different educational institutions, which include Preprimary, Primary, Secondary, higher Secondary education and
        technical courses covering pharmacy, agriculture and engineering.</p>
      <p>
        SPM has made rapid progress under the foresighted leadership of its Chairman Mr. Jaysinh S. Mohite-Patil. SPM's College of
        Pharmacy, Akluj was started in the year 2008 by our beloved chairman Mr.Jaysinh S. Mohite-Patil. </p>
    </div>

  </div>
  <br>


</div>