<div class="container">
    <div class="s_content">
        <h1 class="s_ribbon">Admission</h1>
        <hr>
        <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#Courses" aria-expanded="true" aria-controls="collapseOne">
                    Courses Offered, Affilation and Intake
                  </button>
                </h5>
              </div>
        
              <div id="Courses" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Admission procedure will be as laid down by the Government of Maharashtra, Directorate of Technical Education (www.dte.org.in)
                  & Pravesh Niyantran Samiti (PNS) from time to time.
                  <table class="table table-bordered bg-white">
                    <tbody>
                      <tr>
                        <td>
                          <b> Course Offered </b>
                        </td>
                        <td>
                          B. Pharmacy
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <b> Duration</b>
                        </td>
                        <td>04 years Semester Pattern (Total- 08 Semester)
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <b>Affiliation</b>
                        </td>
                        <td>
                          Affiliated to Solapur University, Solapur
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <b> Intake Capacity</b>
                        </td>
                        <td>
                          60
                        </td>
                      </tr>
                    </tbody>
                  </table>
        
        
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#Eligibility" aria-expanded="true" aria-controls="Eligibility">
                    Eligibility Criteria
                  </button>
                </h5>
              </div>
              <div id="Eligibility" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <strong>Eligibility criteria for admission to First Year of Degree course in Pharmacy</strong>
                  <ol>
                    <li>Candidate should be an Indian National and should have passed the HSC (Std.XII) examination of Maharashtra State
                      Board of Secondary and Higher Secondary Education or its equivalent examination with subjects English, Physics,
                      Chemistry, and Mathematics/ Biology/ Biotechnology/ Technical Vocational subject.</li>
                    <li>Secured minimum 50 % marks (minimum 45 % marks in case of candidates of Backward class categories and Persons
                      with Disability belonging only to Maharashtra State) in the subjects Physics, Chemistry, and Mathematics/ Biology/
                      Biotechnology/ Technical Vocational subject added together (Maximum of marks obtained in Mathematics/ Biology/
                      Biotechnology/ Technical Vocational subject shall be considered for the purpose of addition).</li>
                    <li>Obtained a non-zero score in subjects Physics, Chemistry, and Mathematics/ Biology added together at MHT-CET.</li>
                    <li>Rounding of the percentage of marks for deciding eligibility for admission. In case percentage, marks (converted
                      out of 10) in the subjects Physics, Chemistry, and Biology/ Mathematics/ Biotechnology/ Technical Vocational
                      Subjects added together at HSC (Std.XII), comes in fraction then percentage of marks shall be rounded off as
                      explained in the example for the purpose of deciding the eligibility of the candidate.
                    </li>
                    <li>
                      <b>Ex. </b>If the percentage of marks comes out to be 39.50% to 39.9% then it shall be rounded to 40% and if the
                      percentage of marks comes out to be 39.01% to 39.49% then it shall be rounded to 39%.</li>
                  </ol>
                  <br>
                  <strong>Eligibility criteria of Candidates who have passed/ passing Diploma in Pharmacy and seeking admission to First
                    Year of Pharmacy</strong>
                  <p>
                    If seats remain vacant, Diploma holders who have passed the Diploma course in Pharmacy with minimum of 50% marks( 45% marks
                    in case of candidates of backward class categories) and medium of instruction as English from AICTE, PCI approved
                    Polytechnics can be considered for admission to First Year B. Pharm., as per the government Rules.
                  </p>
                  <br>
                  <strong>Second Year B. Pharmacy</strong>
                  <p>
                    The Candidate must be an Indian National and should have passed Post-SSC or Post-HSC Diploma Course in Pharmacy with at least
                    45.00 % marks (40.00 % marks in case of candidates of Backward class categories belonging only to Maharashtra
                    State) from an AICTE approved Institution with English as the medium of instruction at Diploma level.
        
        
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Procedure" aria-expanded="false"
                    aria-controls="collapseTwo">
                    Admission Procedure
                  </button>
                </h5>
              </div>
              <div id="Procedure" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <strong>F. Y. B. PHARMACY</strong>
                  <p>Out of total admissions at B. Pharm (i.e. 60), about 80% admissions are done through centralised Admission Procedure
                    (CAP) run by State Govt. on the basis of MHT-CET score. The MHT-CET test is conducted by the Directorate of Technical
                    Education, Mumbai. The centralized admissions are done by DTE, Mumbai, having website
                    <a href="http://www.dte.org.in">www.dte.org.in</a> Remaining 20% admissions are done by the Management at the Institute level on the basis of
                    MHT-CET and H.S.C. results.
                    <br>
                    <strong>a) MHT-CET through Govt. Centralised Admission – 48 (80%)</strong>
                    <br>
                    <strong>b) MHT-CET / HSC result through Management – 12 (20%)</strong>
                  </p>
                  <br>
                  <strong>DIRECT SECOND YEAR</strong>
                  <p>
                    Admissions are done through Centralised Admission Procedure run by State Govt. on the basis of Diploma Score. The centralized
                    admissions are done by DTE, Mumbai, having website www.dte.org.in. If seats remains vacant after Centralised
                    Admission Procedure, admissions are done by the Management at the Institute level. Number of seats allotted to
                    CET (State conducted test)
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#FeeStructure" aria-expanded="false"
                    aria-controls="collapseThree">
                    Fee Structure
                  </button>
                </h5>
              </div>
              <div id="FeeStructure" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <p class="text-danger">The Interim Fee to Shikshan Shulka Samiti (M.S) for year 2018-19</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#DocumentsRequired" aria-expanded="false"
                    aria-controls="collapseTwo">
                    Documents Required
                  </button>
                </h5>
              </div>
              <div id="DocumentsRequired" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <ul>
                    <li>MHT-CET score card</li>
                    <li>HSC Marksheet and Board Certificate / Diploma in Pharmacy Mark sheet (For Diploma students)</li>
                    <li>SSC Mark sheet and Board Certificate</li>
                    <li>Leaving Certificate</li>
                    <li>Age, Domicile Certificate</li>
                    <li>Nationality Certificate</li>
                    <li>Gap certificate
                      <small>(if applicable)</small>
                    </li>
                    <li>Caste Certificate
                      <small>(if applicable)</small>
                    </li>
                    <li>Caste/Tribe Validity Certificate
                      <small>(if applicable)</small>
                    </li>
                    <li>Non Creamy Layer Certificate
                      <small>(if applicable)</small>
                    </li>
                    <li>Defense Service Certificate
                      <small>(if applicable)</small>
                    </li>
                    <li>Physical Handicapped Certificate
                      <small>(if applicable)</small>
                    </li>
                    <li>Passport Size photographs</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Links" aria-expanded="false" aria-controls="collapseThree">
                    Important Links
                  </button>
                </h5>
              </div>
              <div id="Links" class="collapse"  aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                        <ul>
                       <!--    <li>
                            <a href="./assets/documentation/18_19_admission/InstitutelevelAdmissionschedule.pdf" target="_blank">1. Schedule of First Year B. Pharmacy admission 2018-19 under Institute level quota and Seats remaining after
                              CAP rounds</a>
                          </li>
                          <li>
                            <a href="./assets/documentation/18_19_admission/Advertisement18-19.jpg" target="_blank">2. Advertisement for First Year B. Pharmacy admission 2018-19 under Institute level quota and Seats remaining
                              after CAP rounds</a>
                          </li> -->
                          <li *ngFor="let link of admissionLink">
                              <a href="../assets/documentation/admission/19-20/{{link.filename ? link.filename : link.link}}" target="_blank">{{link.displayText}}</a>
                          </li>
                        </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
</div>

<div class="container">
  <h1 class="mat-h1">Admission</h1>

</div>