<div class="row border-bottom">
    <div class="col-sm-2 p-2 " id="cr2"> Metric Number </div>
    <div class="col-sm-8 p-2 b text-center " id="cr3"> Metric Title </div>
    <!-- <div class="col-sm-1 text-center">Link</div> -->

</div>

<div class="row" *ngFor="let subpoint of criterion?.subpoint" style="padding: 5px;">
    <div class="col-sm-1 p-1  border-bottom border-left-5">
        <h6 class="text-primary">{{subpoint?.point}}</h6>

    </div>
    <div class="col-sm-11 border-bottom">
        <div class="row p-1 text-danger">
            <a *ngIf="subpoint?.link" class=" text-danger" href="{{subpoint?.link}}" target="_blank">
                <h6>{{subpoint?.name}} <i class="pi pi-external-link ml-2 text-primary"></i></h6>
            </a>
            <h6 *ngIf="!subpoint?.link">{{subpoint?.name}}</h6>
        </div>
        <div *ngIf="subpoint.secondSub?.length > 0">
            <div class="row" *ngFor="let subsubpoint of subpoint.secondSub">
                <div class="col-sm-1 p-1">
                    <small>{{subsubpoint?.point}} </small>
                </div>
                <div class="col-sm-11  p-1 text-justify">
                    <a *ngIf="subsubpoint?.link" href="{{subsubpoint?.link}}" target="_blank">
                        <small class="text-justify  text-info m-0 text-wrap"> {{subsubpoint?.name}}</small>
                        <i class="pi pi-external-link ml-2"></i>
                    </a>
                    <small *ngIf="!subsubpoint?.link" class="text-justify  text-info m-0 text-wrap">
                        {{subsubpoint?.name}}</small>

                    <ol>
                        <li *ngFor="let alphaSub of subsubpoint?.alphaSub">
                            <a *ngIf="alphaSub?.link !=''" class=" pull-right text-primary" href="{{alphaSub.link}}"
                                target="_black">
                                <small>{{alphaSub.name}}</small>
                                <i class="pi pi-external-link ml-2"></i> </a>
                            <a *ngIf="alphaSub?.link ==''" class=" pull-right text-warning" href="{{alphaSub.link}}"
                                target="_black">
                                <small>{{alphaSub.name}}</small>
                                <i class="pi pi-external-link ml-2"></i> </a>
                        </li>
                    </ol>
                    <!--                     <div *ngFor="let alphaSub of subsubpoint?.alphaSub" style="width: 100%;"
                        class="row justify-content-start">
                        <div class="col-12 pull-left ">
                            <a class=" pull-right text-primary" href="{{alphaSub.link}}" target="_black">
                                <small>{{alphaSub.name}}</small>
                                <i class="pi pi-external-link ml-2"></i> </a>
                        </div>
                    </div>
                    <div>
                    </div> -->
                </div>
                <!-- <div class="col-sm-1  p-1 ">
                    <a href="{{subsubpoint?.link}}"><small>view</small></a>
                </div> -->
            </div>
        </div>

    </div>
    <!--     <div class="col-sm-1 border-bottom">
         <a  href="{{subpoint?.link}}">1 {{subpoint?.link}}</a>
    </div> -->