<div class="container">
    <div class="s_content">
        <h1 class="s_ribbon">Institutional Distinctiveness</h1>
        <hr>
        <div class="row">
            <div style="height: 100vh;width: 100vw;">
                <embed [src]="this.sanitiseService?.sanitizeURL('./assets/documentation/naac/insti-distinct/Institutional Distinctiveness.pdf')" type="application/pdf"
                    width="100%" height="100%">
            </div>
        </div>
    </div>
</div>