.jumbotron{
    padding: 1rem 1rem !important;
    margin-bottom: 0px !important;
}

header{
    top: 0;
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
}

#clock{
        position: fixed;
        top: 5px;
        right: 0px;
}