<header class="">
    <div>
        <div class="bg-white">
            <img src="../assets/img/banner.PNG" alt="" height="125px">

            <iframe src="https://free.timeanddate.com/clock/i8ojum7d/n3289/tlin/fc099/ftb/tt0/tw0/tm1/th2/ta1/tb1"
                frameborder="0" width="197" height="19" id="clock"
                ></iframe>


        </div>
        <!--   <div class="jumbotron">
            <h1 class="display-5">{{applicationName}}</h1>
        </div> -->
        <my-nav>
        </my-nav>
    </div>
</header>
<div class="container-fluid">
    <div>
        <router-outlet></router-outlet>
        <ngx-spinner></ngx-spinner>
    </div>
</div>