<div class="container">
    <div class="s_content">
        <h1 class="s_ribbon">Principal's Desk</h1>
        <hr>
        

        <div class="text-justify">
            <img src="./assets/img/cop-principal.jpg"  class="rounded float-right m-2" alt="" srcset="" height="250px">
            <p>
                Shikshan Prasarak Mandal, Akluj is striving for educational, economic and social 
                upliftment of community. With the vision of the institute ‘Tewo Sada Dnyanmaya
                Pradeep’, Sahakar Maharshi  Shankarrao Mohite-Patil had decided to develop
                educational facilities for the rural area of Maharashtra to improve economic
                condition of rural area. 
                College of Pharmacy, Akluj is established in 2008 to empower and educate the
                rural students in this area. The college is affiliated to Punyashlok Ahilyadevi
                Holkar Solapur University, Solapur and also approved by Pharmacy Council of
                India (PCI, New Delhi).
                The college is highly focused on developing competent Pharmacy graduates in
                rural area and imparting entrepreneurship skills, quality-based, action-oriented and
                skill-enhancing education.
                The curriculum of Pharmacy encourages the students to lead their life and build
                career in the field with highly motivated and enlightened minds.
                It includes different core subjects viz. Pharmaceutics, Pharmacology,
                Pharmacognosy and Medicinal Chemistry. It artfully combines intellectual growth
                with the passion, sensitivity, creativity in an interactive environment. 
                The college runs 4 years degree course in Pharmacy.
                We have well equipped  laboratories, playground, gymkhana, spacious
                infrastructure, well established library with ample of books, journals, reference
                books, magazines, electronic study material, internet and on-line learning facilities
                and study room.
                Our experienced, highly qualified and enthusiastic faculty members are always
                keen to help and guide the students to achieve the highest academic standards,
                excellence in the Sports, Cultural activities and NSS. This obviously ensures
                smooth and efficient learning environment.
    
                I hope this college will march ahead and fulfill the dreams of Sahakar Maharshi
                Shankarrao Mohite Patil, founder of Shikshan Prasarak Mandal.
            </p>
            <p class="text-right">
                Prof. (Dr.) Bhanwase A. S. <br>
                Professor &amp; I/C Principal,<br>
                College of Pharmacy, Akluj.
            </p>
        </div>
    </div>

 
</div>