<div class="container">
    <div class="container">
        <div class="s_content">
            <h1 class="s_ribbon">Non Teaching Staff</h1>
            <hr>
 
<div class="row">
    <div align="left">
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td>
                        <p>S.No</p>
                    </td>
                    <td>
                        <p>Name</p>
                    </td>
                    <td>
                        <p>Designation</p>
                    </td>
                    <td>
                        <p>Date of Joining</p>
                    </td>
                    <td>
                        <p>Contact Details</p><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>1</p>
                    </td>
                    <td>
                        <p>Mr. Kale Raviraj Tanaji</p>
                    </td>
                    <td>
                        <p>Peon</p>
                    </td>
                    <td>
                        <p>09-03-2015</p>
                    </td>
                    <td>
                        <p>A/P: Sawatgaon, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>2</p>
                    </td>
                    <td>
                        <p>Mr. Waghmode Pramod Sayabu</p>
                    </td>
                    <td>
                        <p>Peon</p>
                    </td>
                    <td>
                        <p>12-09-2012</p>
                    </td>
                    <td>
                        <p>A/P: Tamshirwadi, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>3</p>
                    </td>
                    <td>
                        <p>Mr. Chavan Sunil Umaji</p>
                    </td>
                    <td>
                        <p>Laboratory Attender</p>
                    </td>
                    <td>
                        <p>11-08-2011</p>
                    </td>
                    <td>
                        <p>A/P: Wagholi, Tal Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>4</p>
                    </td>
                    <td>
                        <p>Mr. Thorat Bhagwat Sayabu</p>
                    </td>
                    <td>
                        <p>Laboratory Attender</p>
                    </td>
                    <td>
                        <p>01-02-2023</p>
                    </td>
                    <td>
                        <p>A/P: Akluj, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>5</p>
                    </td>
                    <td>
                        <p>Mr. Magar Ravi Bapu</p>
                    </td>
                    <td>
                        <p>Laboratory Attender</p>
                    </td>
                    <td>
                        <p>01-02-2023</p>
                    </td>
                    <td>
                        <p>A/P: Akluj, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>6</p>
                    </td>
                    <td>
                        <p>Mr. Salunkhe Rajkumar Bharat</p>
                    </td>
                    <td>
                        <p>Laboratory Attender</p>
                    </td>
                    <td>
                        <p>01-02-2023</p>
                    </td>
                    <td>
                        <p>A/P: Wagholi, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>7</p>
                    </td>
                    <td>
                        <p>Mr. Shivaji Madhukar Chavan</p>
                    </td>
                    <td>
                        <p>&nbsp; Laboratory Attender</p>
                    </td>
                    <td>
                        <p>01-02-2023</p>
                    </td>
                    <td>
                        <p>A/P: Savatgaon Tal. Malshiras Dist Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>8</p>
                    </td>
                    <td>
                        <p>Mr. Akash Sanjay Lakde</p>
                    </td>
                    <td>
                        <p>Laboratory Attender</p>
                    </td>
                    <td>
                        <p>01-02-2023</p>
                    </td>
                    <td>
                        <p>A/P: Malinagar, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>9</p>
                    </td>
                    <td>
                        <p>Mr. Salim Ajjmuddin Khan</p>
                    </td>
                    <td>
                        <p>Laboratory Attender</p>
                    </td>
                    <td>
                        <p>01-02-2023</p>
                    </td>
                    <td>
                        <p>A/P: Malinagar, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>10</p>
                    </td>
                    <td>
                        <p>Mr. Ashok Shivaji Landage</p>
                    </td>
                    <td>
                        <p>Laboratory Attender</p>
                    </td>
                    <td>
                        <p>01-02-2023</p>
                    </td>
                    <td>
                        <p>A/P: Akluj Tal Malshiras Dist Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>11</p>
                    </td>
                    <td>
                        <p>Mr. Namdev Mukund Pawar</p>
                    </td>
                    <td>
                        <p>Laboratory Attender</p>
                    </td>
                    <td>
                        <p>01-02-2023</p>
                    </td>
                    <td>
                        <p>A/P: Malinagar, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>12</p>
                    </td>
                    <td>
                        <p>Mr. Shirishkumar Vilas Gade</p>
                    </td>
                    <td>
                        <p>Laboratory Attender</p>
                    </td>
                    <td>
                        <p>01-02-2023</p>
                    </td>
                    <td>
                        <p>A/P: sangramnagar, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>13</p>
                    </td>
                    <td>
                        <p>Ms. Pradnya Dilip Mate</p>
                    </td>
                    <td>
                        <p>Computer Data Operator</p>
                    </td>
                    <td>
                        <p>01-02-2023</p>
                    </td>
                    <td>
                        <p>A/P: Yashwantnagar, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>14</p>
                    </td>
                    <td>
                        <p>Mr. Bhosale Nitin Chandrakant</p>
                    </td>
                    <td>
                        <p>Store Keeper</p>
                    </td>
                    <td>
                        <p>01-02-2023</p>
                    </td>
                    <td>
                        <p>A/P: Bagechiwadi Tal Malshiras Dist Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>15</p>
                    </td>
                    <td>
                        <p>Manedeshmukh Chandrakant Malojirao</p>
                    </td>
                    <td>
                        <p>Accountant</p>
                    </td>
                    <td>
                        <p>01-02-2023</p>
                    </td>
                    <td>
                        <p>A/P: Velapur, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>16</p>
                    </td>
                    <td>
                        <p>Mr. Galande Rahul Shankar</p>
                    </td>
                    <td>
                        <p>Office Staff II</p>
                    </td>
                    <td>
                        <p>12-05-2022</p>
                    </td>
                    <td>
                        <p>A/P: Yashwantnagar Tal Malshiras Dist Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>17</p>
                    </td>
                    <td>
                        <p>Mr. Salunkhe Shakti Premlal</p>
                    </td>
                    <td>
                        <p>Office Superintendent</p>
                    </td>
                    <td>
                        <p>18-11-2013</p>
                    </td>
                    <td>
                        <p>A/P: Akluj, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>18</p>
                    </td>
                    <td>
                        <p>Mr. Phadtare Sanjay Parshuram</p>
                    </td>
                    <td>
                        <p>Office Staff II</p>
                    </td>
                    <td>
                        <p>01-03-2011</p>
                    </td>
                    <td>
                        <p>A/P: Palasmandal, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>19</p>
                    </td>
                    <td>
                        <p>Mr. Khatmode Nana Ankush</p>
                    </td>
                    <td>
                        <p>Office Staff I</p>
                    </td>
                    <td>
                        <p>18-12-2008</p>
                    </td>
                    <td>
                        <p>A/P: Jambhud, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>20</p>
                    </td>
                    <td>
                        <p>Mr. Durape Samadhan Balasaheb</p>
                    </td>
                    <td>
                        <p>Laboratory Technician</p>
                    </td>
                    <td>
                        <p>01-10-2015</p>
                    </td>
                    <td>
                        <p>A/P: Lawang, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>21</p>
                    </td>
                    <td>
                        <p>Miss. Salunkhe Girija Baburao</p>
                    </td>
                    <td>
                        <p>Laboratory Technician</p>
                    </td>
                    <td>
                        <p>13-12-2011</p>
                    </td>
                    <td>
                        <p>A/P: Akluj, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>22</p>
                    </td>
                    <td>
                        <p>Miss. Shinde Sushma Lahu</p>
                    </td>
                    <td>
                        <p>Laboratory Technician</p>
                    </td>
                    <td>
                        <p>18-09-2008</p>
                    </td>
                    <td>
                        <p>A/P: Yashwantnagar, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>23</p>
                    </td>
                    <td>
                        <p>Mr. Koli Dattatray Tukaram</p>
                    </td>
                    <td>
                        <p>Laboratory Technician</p>
                    </td>
                    <td>
                        <p>15-09-2008</p>
                    </td>
                    <td>
                        <p>A/P: Malinagar, Tal. Malshiras, Dist. Soalpur&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>24</p>
                    </td>
                    <td>
                        <p>Mr. Hulage Kishor Dnyandev</p>
                    </td>
                    <td>
                        <p>Librarian</p>
                    </td>
                    <td>
                        <p>26-09-2008</p>
                    </td>
                    <td>
                        <p>A/P: Akluj, Tal. Malshiras, Dist. Solapur&nbsp;</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>&nbsp;</p>
    <p><br></p>
    <p><br></p>
</div>
</div></div>