<div class="row">
    <br>
    <div class="col-3">
        <br>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" data-target="#v-pills-home"
                type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">President's Message</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" data-target="#v-pills-profile"
                type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Board of
                Directors</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" data-target="#v-pills-messages"
                type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">About Society</a>
        </div>
    </div>
    <div class="col-9">
        <br>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                <img src="./assets/img/president.jpg" alt="" height="150px">
                <i>
                    <p> A teacher effects eternity, you can never tell where his influence stops’. It is with a
                        strong commitment to the quest for excellence in this field of education, that we
                        have been providing quality education to the students through our chain of
                        Shikshan Prasarak Mandal, Akluj, Tal. Malshiras, Dist. Solapur for over seven
                        decades .Our education policy and vision is reflected through our efforts to provide
                        modern education through the latest techniques and methodologies. We firmly
                        believe in the dictum that education should provide an integrated personality and

                        help the students imbibe human values.</p>
                    <p>
                        Traditionally, a teacher has enjoyed a position of great respect as his role as friend,
                        philosopher and guide. It is through teaching-learning process that society
                        preserves its culture; our academic institutes discharge their duties and attain their
                        objectives. It has been rightly remarked that ‘The destiny of India is now being
                        shaped in the classrooms’. Effectively trained teachers are not only better
                        communicators of knowledge and skills but are also source of inspiration and

                        transformers of personalities.</p>
                    <p>
                        The quality of teaching is a key determinant of the student learning and it further
                        depends in the quality of the people in the teaching profession, their qualification
                        and continuing professional development, as well as their work practices and
                        working environment. </p>
                    <p>
                        In education process teacher is the single most important factor responsible for the

                        success, reforms and advancements of the education process.</p>

                    <p> My best wishes and blessings.</p>
                    <p class="text-right">President <br> Sangramsinh Mohite-Patil</p>
                </i>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <table class="table table-bordered table-sm">
                    <tr class="c10">
                        <td class="c7" colspan="1" rowspan="1">
                            <p id="h.gjdgxs"><span>Sr. No.</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p><span>Name of Member</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p><span>Designation</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p><span>Background</span></p>
                        </td>
                    </tr>
                    <tr class="c10">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>1</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p><span>Mr. Vijaysinh Shankarrao Mohite-Patil</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p><span>Member</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p><span>Former Member of Parliament</span></p>
                        </td>
                    </tr>
                    <tr class="c6">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>2</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p><span>Mr. Sangramsinh Jaysinh Mohite-Patil</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p><span>President </span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p><span>Social worker </span></p>
                        </td>
                    </tr>
                    <tr class="c6">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>3</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p><span>Mr. Jaysinh Shankarrao Mohite-Patil</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p><span>Member</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p><span>Social worker</span></p>
                        </td>
                    </tr>
                    <tr class="c6">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>4</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p><span>Mr. Ranjitsinh Vijaysinh Mohite-Patil</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p><span>Member</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p><span>Member of Legislative Council</span></p>
                        </td>
                    </tr>
                    <tr class="c10">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>5</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p><span>Mr. Swaruparani Jaysinh Mohite-Patil</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p><span>Member</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p><span>Social worker</span></p>
                        </td>
                    </tr>
                    <tr class="c6">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>6</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p><span>Mr. &nbsp;Vinodkumar Maniklal Doshi</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p><span>Member</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p><span>Merchant</span></p>
                        </td>
                    </tr>
                    <tr class="c3">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>7</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p class="c11"><span>Mr. &nbsp;Rajabhau Dasharath Lavhale</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p class="c2"><span>Member</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p class="c2"><span>Social worker</span></p>
                        </td>
                    </tr>
                    <tr class="c3">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>8</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p class="c11"><span>Mr. Subhash Ramling Dalavi</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p class="c2"><span>Member</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p class="c2"><span>Social worker</span></p>
                        </td>
                    </tr>
                    <tr class="c6">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>9</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p class="c11"><span>Mr. Narayan Ramchandra Phule </span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p><span>Member</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p><span>Social worker</span></p>
                        </td>
                    </tr>
                    <tr class="c6">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>10</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p><span>Mr. Pandurang Bapu Ekatpure</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p class="c2"><span>Member</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p class="c2"><span>Farmer</span></p>
                        </td>
                    </tr>
                    <tr class="c6">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>11</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p><span>Mr. Balasaheb Mahadeo Sanas</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p class="c2"><span>Member</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p class="c2"><span>Farmer</span></p>
                        </td>
                    </tr>
                    <tr class="c6">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>12</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p><span>Mrs. Nisha Kishor Girame</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p class="c2"><span>Member</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p class="c2"><span>Social worker</span></p>
                        </td>
                    </tr>
                    <tr class="c6">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>13</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p><span>Mr. Utkarsh Ramling Shete</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p class="c2"><span>Member</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p class="c2"><span>Social worker</span></p>
                        </td>
                    </tr>
                    <tr class="c6">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>14</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p><span>Mr. Ramchandra Gajaba Gaikwad</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p class="c2"><span>Member</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p class="c2"><span>Farmer</span></p>
                        </td>
                    </tr>
                    <tr class="c6">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>15</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p><span>Mr. Vasant Pandurang Jadhav</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p class="c2"><span>Member</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p class="c2"><span>Farmer</span></p>
                        </td>
                    </tr>
                    <tr class="c10">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>16</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p><span>Mr. Abhijeet Vijaysinh Ranaware</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p><span>Secretary</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p class="c17"><span>-</span></p>
                        </td>
                    </tr>
                    <tr class="c6">
                        <td class="c7" colspan="1" rowspan="1">
                            <p><span>17</span></p>
                        </td>
                        <td class="c0" colspan="1" rowspan="1">
                            <p><span>Mr. Harshwardhan Dipakrao Kharade-Patil</span></p>
                        </td>
                        <td class="c9" colspan="1" rowspan="1">
                            <p><span>Assistant Secretary</span></p>
                        </td>
                        <td class="c8" colspan="1" rowspan="1">
                            <p class="c17"><span>-</span></p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <h6>SHIKSHAN PRASARAK MANDAL, AKLUJ, TAL. MALSHIRAS, DIST.SOLAPUR</h6>

                <p class="text-justify text-small"> Shikshan Prasarak Mandal is one of the leading educational
                    institutions in
                    Maharashtra. Shikshan Prasark Mandal was founded by Sahakar Maharshi
                    Shankarrao Narayanrao Mohite- Patil in 1948. The first branch came into existence
                    in the form of a hostel on 11 th June 1948 with six students. The official
                    establishment of the institution, Shikshan Prasarak Mandal, Akluj came on 23 rd
                    June 1948 with a motto “Tewo Sada Dnyanamaya Pradeep” (Let the lamp of
                    knowledge be lightened forever).
                    The first school was opened on 1 st March 1949. The beginning was very small with
                    about hundred students and classes were from fifth to tenth. Now the institution is
                    marching onwards under the guidance of the patron, Hon. Vijaysinh Shankarrao
                    Mohite Patil and Hon. Jayasinh Mohite Patil.  Institution built up reputation as an
                    institutions imparting quality education all over Maharashtra. Shikshan Prasarak
                    Mandal, Akluj runs 70 educational branches including Pre-Primary, Primary,
                    Secondary, Higher Secondary Schools, Arts, Science and Commerce Colleges, D.
                    Pharmacy and B. Pharmacy colleges, D.Ed., B.Ed. Colleges, Home Science
                    College, Agriculture College etc. Now the institution has more than 32000 students
                    taking their education. Total teaching and non-teaching staff of the institution is
                    more than 1200.</p>
                <h6>OBJECTIVES :</h6>
                <ul>
                    <li> To run nursery school, Pre-Primary, Primary, Secondary, Higher
                        Secondary Schools and Colleges like Arts, Commerce, Science, Home
                        Science, B.Ed., B. P.Ed., Pharmacy etc.
                    </li>
                    <li> To run Technical High Schools and Vocational Courses.

                    </li>
                    <li> To provide financial assistance to the needy students and scholarships to
                        the students for their excellent achievements in NCC, NSS, Sports and
                        Academic records.
                    </li>
                    <li> To provide Agricultural Education and Establishment of research Centre.
                    </li>
                    <li> To run Charitable Hospital and to provide medical facilities at concessional
                        rates for the poor and the needy.
                    </li>
                    <li> To run training centers for the Educated Unemployed Youth.
                    </li>
                    <li> To run training centers for National Disaster management and to provide
                        financial aid for earthquake, Flood, War etc.
                    </li>
                    <li> To provide educational and medical facilities to the rural people especially
                        farmers, workers, handicapped and economically backward people.
                    </li>
                    <li> Agricultural Research and Extension services.
                    </li>
                    <li> To establish the facilities for physical education.
                    </li>
                    <li> To run boys hostel, girls hostel, working women’s hostel.
                    </li>
                    <li> To run libraries and to arrange cultural activities.
                    </li>
                    <li> Construction of building for above purposes and construction of building
                        for commercial complexes.
                    </li>
                    <li> To help other institutions working with the similar objectives.
                        SALIENT FEATURES OF THE INSTITUTION
                    </li>
                    <li> The celebration of the “Anand Yatra” on the occasion of the Golden Jubilee
                        Year -1999. The event is recorded in the Limca Book of Records, New Delhi.

                    </li>
                    <li> Commercial Complex :
                        1. Sadubhau Market and Shivshankar Bazar with 151 Commercial blocks
                        2. Banling Bazar at Phondshiras (Malshiras) with 9 commercial blocks.
                        3. Shankarrao Mohite Mahavidyalaya Commercial complex with 41 commercial
                        blocks.

                    </li>
                    <li> Accidental Insurance for the staff : Rs. 1 Lakh
                    </li>
                    <li> Medical Insurance for the students : Rs. 500.00
                    </li>
                    <li> Accidental Insurance for the students : Rs. 10,000/-
                    </li>
                    <li> Sadhubhau Cultural Hall at Akluj for the Institutional function.
                    </li>
                    <li> Excellent tradition of Academic and Sports achievements.
                    </li>
                    <li> Housing scheme for the employees.
                    </li>
                    <li> Initialization of quality education from preprimary to fifth standard. (Pilot
                        Project)
                    </li>
                    <li> Night school for working students.
                    </li>
                    <li> Participation in National Adult Education Programme by running 30 centers.
                    </li>
                    <li> Organization of National Schools Games – 1982
                    </li>
                    <li> Organization of State Level Games on the occasion of Silver Jubilee
                        Celebrations of Maharashtra State – 1985.
                    </li>
                    <li> Organization of NSS, NCC Sports, Scout-guides, District level camps.
                    </li>
                    <li> Organization of the conference of the members of management in Education.
                    </li>
                    <li> Introduction of Compulsory English from the primary classes, later on the
                        pattern is adopted by govt. of Maharashtra.
                    </li>
                    <li> Admissions to all the needy students.
                    </li>
                    <li> Introduction of the courses in accordance with the local needs.
                    </li>
                    <li> Upstanding contributions to National Relief Fund.
                    </li>
                    <li> China war
                    </li>
                    <li> Andhra Cyclone
                    </li>
                    <li> Kargil Fund
                    </li>
                    <li> Killari Earthquake in Marathwada region of Maharashtra.
                    </li>
                    <li> Gujarat Earthquake.
                    </li>
                    <li> Contribution to Shivaji University sports fund- Ashwamedha Tournaments Rs.
                        50,000/- </li>
                </ul>
            </div>
        </div>
    </div>
</div>