<nav class="navbar navbar-expand-lg navbar-light  text-white" style="background-color: #358693 !important;">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let menu of menuList" [ngClass]="menu.subMenu ? 'dropdown':'' ">
        {{menu.subMenu?.lenght}}
        <a *ngIf="menu.subMenu" class="nav-link text-white dropdown-toggle " role="button" data-toggle="dropdown"
          aria-expanded="false">
          {{menu.name}}
        </a>
        <a *ngIf="!menu.subMenu" class="nav-link text-white"
          [routerLink]="menu.link ? menu.link : '' ">{{menu.name}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" *ngFor="let submenu of menu.subMenu" [routerLink]="submenu.link">{{submenu.name}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [opened]="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let menu of menuList" [routerLink]="menu.link ? menu.link : '' " (click)="menu.subMenu ? drawer.open() :drawer.toggle()">{{menu.name}}
        <div *ngIf="menu.subMenu">
          
           <button mat-button [matMenuTriggerFor]="menux">
              <mat-icon >play_arrow</mat-icon>
          </button> 
          <mat-menu #menux="matMenu">
            <a mat-menu-item *ngFor="let submenu of menu.subMenu" [routerLink]="submenu.link" (click)="drawer.toggle()">{{submenu.name}}</a>
          </mat-menu>
        </div>
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{applicationName}}</span>
    </mat-toolbar>
  </mat-sidenav-content>

</mat-sidenav-container> -->