<div class="container">
  <h3> Training and Placement </h3>


  <!-- Main Content Begin -->


  <div class="panel">
    <div class=" panel-heading">
      
    </div>
    <div class="panel-body">
      The training and placement facilities is the process of placement of student passing out from the institute besides collaborating
      with leading organization and institute in setting up of internship and training program of student. The cell acts
      as contact point for all Pharma and non Pharma industries that which to recruit student of Shikshan Prasarak Mandals
      college of Pharmacy, Akluj. It entails collecting resumes, telephone numbers and emails of the students and forwarding
      it to HR department of Pharma and non Pharma industries. Pre placement talks are also conducted in this regard as per
      mutual convenience. Job offers, date of interview, selection of the candidates etc are announced through the training
      and placement cell.
    </div>
  </div>

  <div class="panel">
    <div class=" panel-heading">
      <h4 class="heading " style="text-align:left;margin-bottom:10px !important;">Placed Students</h4>
    </div>
    <div class="panel-body">
      Following is the list of B.Pharm Candidates selected through Placement cell at various Pharmaceutical Industries
      <div class="panel-body">
        <strong class="text-success">Academic Year 2015-16</strong>
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th>SrNo</th>
              <th>Student Name</th>
              <th>Company Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Yadav Shubhangi Audumbar</td>
              <td>Tata consultancy services </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Shinde Ashlesha Shashikant</td>
              <td>Tata consultancy services </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Patil Akshay Hanumant</td>
              <td>Tata consultancy services </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="panel-body">
        <strong class="text-success">Academic Year 2014-15</strong>
        <table class="table table-bordered table-sms">
          <thead>
            <tr>
              <th>SrNo</th>
              <th>Student Name</th>
              <th>Company Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Wagh Snehal Shahaji</td>
              <td>Tata consultancy services </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Shinde Neha Naganath</td>
              <td>Tata consultancy services </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Jadhav Sujata Yashvant</td>
              <td>Tata consultancy services </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Bora Pritam Pravin</td>
              <td>Tata consultancy services </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>




  <!-- Main Content End -->
</div>