<div class="container">
  <div class="s_content">
    <h1 class="s_ribbon">Self Study Report</h1>
    <hr>

    <div>
      <div class="row">
        <div class="col-2">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-criterion1-tab" data-toggle="pill"
              data-target="#v-pills-criterion1" type="button" role="tab" aria-controls="v-pills-criterion1"
              aria-selected="true"> Criterion 1</button>
            <button class="nav-link" id="v-pills-criterion2-tab" data-toggle="pill" data-target="#v-pills-criterion2"
              type="button" role="tab" aria-controls="v-pills-criterion2" aria-selected="true"> Criterion 2</button>
            <button class="nav-link" id="v-pills-criterion3-tab" data-toggle="pill" data-target="#v-pills-criterion3"
              type="button" role="tab" aria-controls="v-pills-criterion3" aria-selected="false"> Criterion 3</button>
            <button class="nav-link" id="v-pills-criterion4-tab" data-toggle="pill" data-target="#v-pills-criterion4"
              type="button" role="tab" aria-controls="v-pills-criterion4" aria-selected="false">Criterion 4</button>
            <button class="nav-link" id="v-pills-criterion5-tab" data-toggle="pill" data-target="#v-pills-criterion5"
              type="button" role="tab" aria-controls="v-pills-criterion5" aria-selected="false">Criterion 5</button>
            <button class="nav-link" id="v-pills-criterion6-tab" data-toggle="pill" data-target="#v-pills-criterion6"
              type="button" role="tab" aria-controls="v-pills-criterion6" aria-selected="false">Criterion 6</button>
            <button class="nav-link" id="v-pills-criterion7-tab" data-toggle="pill" data-target="#v-pills-criterion7"
              type="button" role="tab" aria-controls="v-pills-criterion7" aria-selected="false">Criterion 7</button>
            <button class="nav-link" id="v-pills-ssr-tab" data-toggle="pill" data-target="#v-pills-ssr" type="button"
              role="tab" aria-controls="v-pills-ssr" aria-selected="false">Self Study Report</button>

          </div>
        </div>
        <div class="col-10">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-criterion1" role="tabpanel"
              aria-labelledby="v-pills-criterion1-tab">
              <app-criterio-table [criterion]="ssrConst[0]"></app-criterio-table>
            </div>
            <div class="tab-pane fade" id="v-pills-criterion2" role="tabpanel" aria-labelledby="v-pills-criterion2-tab">
              <app-criterio-table [criterion]="ssrConst[1]"></app-criterio-table>
            </div>
            <div class="tab-pane fade" id="v-pills-criterion3" role="tabpanel" aria-labelledby="v-pills-criterion3-tab">
              <app-criterio-table [criterion]="ssrConst[2]"></app-criterio-table>
            </div>
            <div class="tab-pane fade" id="v-pills-criterion4" role="tabpanel" aria-labelledby="v-pills-criterion4-tab">
              <app-criterio-table [criterion]="ssrConst[3]"></app-criterio-table>
            </div>
            <div class="tab-pane fade" id="v-pills-criterion5" role="tabpanel" aria-labelledby="v-pills-criterion5-tab">
              <app-criterio-table [criterion]="ssrConst[4]"></app-criterio-table>
            </div>
            <div class="tab-pane fade" id="v-pills-criterion6" role="tabpanel" aria-labelledby="v-pills-criterio6-tab">
              <app-criterio-table [criterion]="ssrConst[5]"></app-criterio-table>
            </div>
            <div class="tab-pane fade" id="v-pills-criterion7" role="tabpanel" aria-labelledby="v-pills-criterion7-tab">
              <app-criterio-table [criterion]="ssrConst[6]"></app-criterio-table>
            </div>
            <div class="tab-pane fade" id="v-pills-ssr" role="tabpanel" aria-labelledby="v-pills-ssr-tab">
              <app-pdf-viewer [url]="'./assets/documentation/naac/ssr/ssr/SSR-report.pdf'" [title]="'Self Study Report'"
                [id]="'SSRdoc'"></app-pdf-viewer>
              <app-pdf-embed [url]="'./assets/documentation/naac/ssr/ssr/SSR-report.pdf#toolbar=0&navpanes=0'"
                [width]="90" [height]="100"></app-pdf-embed>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--     <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let number of [1,2,3,4,5,6,7]">
       <a [href]="'./assets/documentation/naac/ssr/CRITERION'+number+'.pdf'" target="_blank">CRITERION {{number}}</a> 
        <app-pdf-viewer [title]="'CRITERION' + number " [url]="'./assets/documentation/naac/ssr/CRITERION'+number+'.pdf'" [id]="number"></app-pdf-viewer>
      </li>
    </ul> -->
  </div>
</div>