<div class="container">
  <div class="s_content">
    <h1 class="s_ribbon">Academic Details</h1>
    <hr>

    <div class="row">
      <div class="col-lg-6 portfolio-item">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link " data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                  Academic Calender
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let item of calender; let i=index"> <a [href]="item.link"
                      target="_blank">{{item.displayName}}</a>
                    <app-pdf-viewer [title]="item.displayName" [url]="item.link" [id]="i"></app-pdf-viewer>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" [attr.data-toggle]="'collapse'"
                  [attr.data-target]="'#collapseOne'" aria-expanded="true" aria-controls="collapseOne">
                  Exam Notices
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" [attr.aria-labelledby]="'headingOne'"
              [attr.data-parent]="'#accordion'">
              <div class="card-body">
                <app-exam></app-exam>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  Timetable
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <app-timetble></app-timetble>
              </div>
            </div>
          </div>

        </div>




      </div>
      <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
          <div class="card-body" style="max-height: 500px;">
            <h4 class="card-title">
              <!-- <a >Tweeter Notifications</a> -->
            </h4>
            <a class="twitter-timeline" href="https://twitter.com/copakluj?ref_src=twsrc%5Etfw">Tweets by copakluj</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>