  <div class="container">
    <div class="s_content">
        <h1 class="s_ribbon">Academic Details</h1>
        <hr>

        <div class="row">
          <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
      
              <div class="card-body">
                <h4 class="card-title">
                  <a>Academic</a>
                </h4>
                No updates found !
              </div>
            </div>
          </div>
          <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
              <div class="card-body" style="max-height: 500px;">
                <h4 class="card-title">
                  <!-- <a >Tweeter Notifications</a> -->
                </h4>
                <a class="twitter-timeline" href="https://twitter.com/copakluj?ref_src=twsrc%5Etfw">Tweets by copakluj</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>
          </div>
      
        </div>
      
      </div>
</div>