<div class="grid-container">


  <!--   <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> -->

  <div class="container">
      <div id="ribbon">
          <span id="content">Tevo Sada Dnynamaya Pradip !</span>
        </div>
    <!--  <h1 class="mat-h1">Dashboard</h1> -->
    <!-- Heading Row -->
    <div class="row my-4">
      <div class="col-lg-8">
        <img class="img-fluid rounded" src="./assets/img/college/banner.jpg" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-4 text-justify">
        <p class="ribbon">
          <span class="text"><strong class="bold"></strong>Vision
          </span>
        </p>
        <!--     <h5>Vision</h5> -->
        <p>
          <small>"To offer, paramount educational facilities to develope competent Pharma graduates in rural
            area"</small>
        </p>
        <p class="ribbon">
          <span class="text"><strong class="bold"></strong>Mission
          </span>
        </p>
        <p>
          <small>"To build up confidence and knowledge about medicine in the students to deliver best professional and
            ethical service
            to the mankind.
            <p>To imbibe creative and innovative pharmacy practice amongst under graduates students.
              <br>To educate and train the students to discover and manufacture drugs of quality."</p>
          </small>
        </p>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <!--     <div class="card text-white bg-secondary my-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">Tevo Sada Dnynamaya Pradip !</p>
      </div>
    </div> -->





    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center">Salient Features</h5>

            <div class="card-text">
              <ul>
                <li>Affilated to Solapur University</li>
                <li>Qualified & Experienced Teaching Staf</li>
                <li>Excellent Academic Result & Healthy Academic Environment.</li>
                <li>Well Equipped Laboratories.</li>
                <li>Spacious & well furnished classrooms</li>
                <li>Rich Library</li>
                <li>Excellent playground.</li>
                <li>Exposure to various co-curricular and cultural activities.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center">Important Links</h5>
            <div class="card-text">
              <ul>
                <li *ngFor="let link of imporatantLinks">
                  <a href="{{link.filename ? link.filename : link.link}}" target="_blank">{{link.displayText}}</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center">Notifications</h5>
            <div class="card-text">
              <ul>
                <li *ngFor="let link of admissionLink"> <a href="{{link.filename ? link.filename : link.link}}"
                    target="_blank">{{link.displayText}}</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
</div>

<input type="hidden" id="admission_notice" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Admission Notice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        शिक्षण प्रसारक मंडळ अकलूज संचलित, कॉलेज ऑफ फार्मसी (बी. फार्मसी), माळेवाडी-अकलूज 
        या महाविद्यालयामध्ये  चालू शैक्षणिक वर्षात प्रथम वर्ष बी. फार्मसी मध्ये प्रवेश घेवू इच्छित असणाऱ्या विद्यार्थ्यांची प्रवेशपूर्व नाव नोंदणी सुरु आहे. 
        यासाठी  विद्यार्थ्यांनी खाली दिलेल्या लिंकवर क्लिक करून ऑनलाइन माहिती 
        सादर करावी. <br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdyfRQO2--1z6mRXWk1fylCl7VxLL7wUzLUjzkBM-95cxJB3Q/viewform?usp=sf_link" target="_blank" class="btn btn-link">माहिती भरण्यास येथे क्लिक करा </a>
<br>
        अधिक माहिती साठी खाली दिलेल्या फोन नंबरवर संपर्क साधावा. <br>
<a href="tel:+02185224243">(02185) 224243</a>, <a href="tel:+9822333441">9822333441</a>, <a href="tel:+9975865649">9975865649</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>