<div class="grid-container">

  <div class="container">

    <div id="ribbon">
      <span id="content">Tevo Sada Dnynamaya Pradip !</span>
    </div>

    <!-- Heading Row -->
    <div class="row my-4">
      <div class="col-lg-8">
        <img class="img-fluid rounded" src="./assets/img/college/banner.jpg" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-4 text-justify">
        <p class="ribbon">
          <span class="text"><strong class="bold"></strong>Vision
          </span>
        </p>
        <!--     <h5>Vision</h5> -->
        <p>
          <small>"To offer, paramount educational facilities to develope competent Pharma graduates in rural
            area"</small>
        </p>
        <p class="ribbon">
          <span class="text"><strong class="bold"></strong>Mission
          </span>
        </p>
        <p>
          <small>"To build up confidence and knowledge about medicine in the students to deliver best professional and
            ethical service
            to the mankind.
            <p>To imbibe creative and innovative pharmacy practice amongst under graduates students.
              <br>To educate and train the students to discover and manufacture drugs of quality."</p>
          </small>
        </p>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-12">
        <app-notice-pane></app-notice-pane>
      </div>
    </div>
    <br>





    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center">Salient Features</h5>

            <div class="card-text">
              <ul>
                <li>Affilated to Solapur University</li>
                <li>Qualified & Experienced Teaching Staf</li>
                <li>Excellent Academic Result & Healthy Academic Environment.</li>
                <li>Well Equipped Laboratories.</li>
                <li>Spacious & well furnished classrooms</li>
                <li>Rich Library</li>
                <li>Excellent playground.</li>
                <li>Exposure to various co-curricular and cultural activities.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center">Important Links</h5>
            <div class="card-text">
              <ul>
                <li *ngFor="let link of imporatantLinks">
                  <a href="{{link.filename ? link.filename : link.link}}" target="_blank">{{link.displayText}}</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center">Notifications</h5>
            <div class="card-text">
              <ul>
                <li *ngFor="let link of admissionLink"> <a href="{{link.filename ? link.filename : link.link}}"
                    target="_blank">{{link.displayText}}</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

    
  </div>
</div>
