<div class="grid-container">

  <!--   <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> -->

  <div class="container">
    <!--  <h1 class="mat-h1">Dashboard</h1> -->
    <!-- Heading Row -->
    <div class="row my-4">
      <div class="col-lg-8">
        <img class="img-fluid rounded" src="./assets/img/college/banner.jpg" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-4 text-justify">
        <p class="ribbon">
          <span class="text"><strong class="bold">Vision</strong>
          </span>
        </p>
        <!--     <h5>Vision</h5> -->
        <p>
          <small>"To offer, paramount educational facilities to develope competent Pharma graduates in rural
            area"</small>
        </p>
        <p class="ribbon">
          <span class="text"><strong class="bold">Mission</strong>
          </span>
        </p>
        <p>
          <small>"To build up confidence and knowledge about medicine in the students to deliver best professional and ethical service
            to the mankind.
            <p>To imbibe creative and innovative pharmacy practice amongst under graduates students.
              <br>To educate and train the students to discover and manufacture drugs of quality."</p>
          </small>
        </p>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">Tevo Sada Dnynamaya Pradip !</p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center">Salient Features</h5>
            
            <div class="card-text">
              <ul>
                <li>Affilated to Solapur University</li>
                <li>Qualified & Experienced Teaching Staf</li>
                <li>Excellent Academic Result & Healthy Academic Environment.</li>
                <li>Well Equipped Laboratories.</li>
                <li>Spacious & well furnished classrooms</li>
                <li>Rich Library</li>
                <li>Excellent playground.</li>
                <li>Exposure to various co-curricular and cultural activities.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center">Important Links</h5>
            <div class="card-text">
              <ul>
                <li *ngFor="let link of imporatantLinks">
                  <a href="{{link.filename ? link.filename : link.link}}" target="_blank">{{link.displayText}}</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center">Notifications</h5>
            <div class="card-text">
                <!-- <a class="twitter-timeline" href="https://twitter.com/svhagavane?ref_src=twsrc%5Etfw">Tweets by svhagavane</a> 
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
            </div>
          </div>

        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
</div>