<div class="container">
    <div class="s_content">
        <h1 class="s_ribbon">Activities </h1>
        <hr>
        <div>
            

            <div class="row">
                <div class="col-12" *ngFor="let activity of activities">
                    <h4>{{activity.year}}</h4>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let activity of activity.list; let i=index">{{activity.displayName}}
                            <app-pdf-viewer [url]="activity.link" [title]="activity.displayName" [id]="i"></app-pdf-viewer>
                        </li>
                      </ul>
                </div>
            </div>
        </div>

    </div>
</div>