<div class="container">
    <div class="s_content">
      <h1 class="s_ribbon">curriculum </h1>
      <hr>
     
      <div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of curriculum"> <a [href]="item.Link" target="_blank">{{item.displayText}}</a></li>

          </ul>
      </div>
 </div>