

<div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of examNotice; let i=index"> 
            <a [href]="item.link"
                target="_blank">{{item.displayName}}</a>
                <app-pdf-viewer [title]="item.displayName" [url]='item.link' [id]="'exam'+i"></app-pdf-viewer>
            </li>
    </ul>
</div>