<h3>
  <em class="fa fa-phone"> Contact us</em>
</h3>

<!-- <script>
   App.controller('GMapController', function($scope, $timeout){
     $scope.mapLoading = true;
     $timeout(function(){
       $scope.mapAddress = "Shikshan Prasarak Mandal’s College of Pharmacy";
       $scope.mapLoading = false;
     }, 2000);
   });
</script> -->
<form action="">
  <div class="row">
    <h4 class="heading alert alert-info">Address</h4>
    <div class="col-md-6 clearfix">
      <div>
        <div class="panel panel-default" style="padding: 10px;">
          <div class="col-md-12s">
            <p class="alert alert-warning b" style="background-color: #959088;">College of Pharmacy, Akluj </p>
            <em class="fa fa-arrow-right text-danger"></em> Sangola Road, Malewadi-Akluj Tal. Malshiras Dist. Solapur
            <br/>
            <br/>
            <em class="fa fa-phone text-danger"></em>
            <b>Ph. No: </b> (02185) 224243
            <br/>
            <br/>
            <em class="icon-envelope text-danger"></em>
            <b> Email: </b> copakluj@gmail.com
            <br/>
            <br/>
          </div>
        </div>
      </div>
    </div>
    <!-- Map Start -->
    <div class="col-md-6">
      <!-- Google map Begin -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3797.1850740970895!2d75.02559821440798!3d17.87679759321151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc4745715555555%3A0x1f3bb9b1b1b72ecb!2sShikshan+Prasarak+Mandal%E2%80%99s+College+of+Pharmacy!5e0!3m2!1sen!2sin!4v1472680781658"
        width="100%" height="auto" frameborder="0" style="border:0;min-height:210px" allowfullscreen></iframe>
    </div>
    <!-- Map END -->
  </div>
  <div class="row ">
    <div class="col-md-12">
      <div>
        <h4 class="heading alert alert-info">Leave Message For Us</h4>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Phone">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <textarea name="" id="message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary btn-md" value="Send Message">
        </div>
      </div>

    </div>
  </div>
</form>