
  <div class="card">
    <div class="card-header p-1 px-2">
      Important Notices
    </div>
    <div class="card-body p-1 px-2 border-bottom" *ngFor="let notice of notices">
      <p class="card-text small p-1 px-2" [innerHTML]="notice"></p>
      
    </div>
    <div><p class="card-text small p-1 px-2" ><a [routerLink]="'/academic'">Academic Notices</a></p></div>
  </div>


