<div class="container">
  <div class="s_content">
    <h1 class="s_ribbon">Career </h1>
    <hr>

    <h1>Current Opportunities</h1>

    <div>
      <mat-card class="example-card">
        <mat-card-header>
        </mat-card-header>
        <img mat-card-image
          src="https://lh3.googleusercontent.com/K83cj2hdTV7b0N5MLG6cfU3i44KBn-I_VpGvx4pW_-xDJXmUPFdpJHupIN7XMehcrjm4px3dOsau5BHMXeHMHa3ZlQ3DMQoktA9PR3gyR2qZXR95v-4yFxkzqieqSiae1CoH6KjI5KHkN18WmQoxFZv9K4q-fZOL3Ku5swPsh6dKeL1AQn664b_3XoX6SRdg3QrmY5aePnGdnTEJgvrO3AUmNrag-9CNB3-hxCG7MLRTpjw0mA5jnvViVHzkT0RRMCoWt7_HcIMKORSL12oDaAs-VNX2y1zFQojVNXKbwU9N7FBGftb6KytL8wuS8YreO6MzfHW-qUwRu9UhoPJRZWlEWBSXIOd_8aoz-8QrQf5nKYF-gAhLw-wbGW5yI37ZBwxR7RUJNe7AZVd-6tYRkHRjf70JKyejHUmX8ahe6szjgtCDbyhGlda_v5VfCV5n6Ft-rapIO9FgPfX2TPTOhiAqntqwDid3r0-gnSOSe_Sa2hQ7-UIWaywYzy2SCLonF6_cx012IyRF3p2CwFjmw2WGf6MywHsL-rn6U6TRpcKp_O4B0OwaTjXoHDzP64YXTFtHY0XBYL2xTvz7SQQtNAHLmlr5l40d46FDK80PkD6gxjnp1Hv6r9E27FrFLSi7_5m0X9ikG7urGQIDWB6tm354AhaN4M6qarC4j4B-xkEbniOW31rlARXchCvmJsMLVZQegxI9xAuEYXQHoZ-e5OE=w561-h625-no?authuser=0"
          alt="Photo of a Shiba Inu">
      </mat-card>
    </div>
  </div>
</div>