<div class="container">
    <div class="s_content">
        <h1 class="s_ribbon">Best Practices</h1>
        <hr>

        <div class="row">

            <div style="height: 100vh;width: 100vw;">
                <embed [src]="photoURL('./assets/documentation/naac/best-practices/best-practices.pdf')" type="application/pdf"
                    width="100%" height="100%">
            </div>

        </div>
    </div>
</div>